<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yeybook</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="../static/js/index.js"></script>
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<div class="side-bar">
    <div class="navigation">
        <div class="section">
            <div class="item selected" onclick="sideBarSelect(this)">
                <div class="image"></div>
            </div>
            <div class="item" onclick="sideBarSelect(this)">
                <div class="image"></div>
            </div>
            <div class="item" onclick="sideBarSelect(this)">
                <div class="image"></div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="top-bar">
        <div class="search-bar">
            <div class="search">
                <div class="image"></div>
            </div>
            <div class="input-wrapper">
                <input class="input" placeholder="Search...">
            </div>
        </div>
        <div class="settings">
            <div class="image"></div>
        </div>
        <div class="edit">
            <div class="image"></div>
        </div>
        <div class="yeybook-logo">
            <div class="image"></div>
        </div>
    </div>
    <div class="communication">
        <div class="chats">
            <div class="types">
                <div class="item selected" onclick="showSigned()">
                    <div class="section">
                        <div class="image"></div>
                    </div>
                </div>
                <div class="item" onclick="showAnonymous()">
                    <div class="section">
                        <div class="image"></div>
                    </div>
                </div>
            </div>
            <div class="items" onscroll="moveChatSelector()">
                <div class="item anonymous" onclick="showChat(this)">
                    <div class="left">
                        <div class="avatar">
                            <div class="image"></div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="name">Big Smoke</div>
                        <div class="last-message">My dog... big number 9</div>
                    </div>
                </div>
                <div class="item anonymous" onclick="showChat(this)"></div>
                <div class="item anonymous" onclick="showChat(this)"></div>
                <div class="item anonymous" onclick="showChat(this)"></div>
                <div class="item anonymous" onclick="showChat(this)"></div>
                <div class="item signed" onclick="showChat(this)"></div>
                <div class="item signed" onclick="showChat(this)"></div>
                <div class="item signed" onclick="showChat(this)"></div>
                <div class="item signed" onclick="showChat(this)"></div>
                <div class="item signed" onclick="showChat(this)"></div>
                <div class="item signed" onclick="showChat(this)"></div>
                <div class="item signed" onclick="showChat(this)"></div>
                <div class="item signed" onclick="showChat(this)"></div>
                <div class="item signed" onclick="showChat(this)"></div>
                <div class="item signed" onclick="showChat(this)"></div>
                <div class="item signed" onclick="showChat(this)"></div>
                <div class="item signed" onclick="showChat(this)"></div>
            </div>
            <div class="selector signed">
                <div class="chat-part"></div>
                <div class="section">
                    <div class="point"></div>
                </div>
            </div>
        </div>
        <div class="chat">
            <div class="messages">
                <div class="message alien">
                    <div class="section">
                        <div class="text">
                            <div class="the-text-itself">test text</div>
                        </div>
                    </div>
                </div>
                <div class="message predator">
                    <div class="section">
                        <div class="text">
                            <div class="the-text-itself">test text</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-message">
                <div class="input">
                    <div class="text" id="new-message" oninput="newMessageInput(this)" contenteditable="true"></div>
                </div>
                <div class="send-button" onclick="sendMessage()">
                    <div class="image"></div>
                </div>
            </div>
        </div>
        <div class="user-wrapper">
            <div class="user">
                <div class="main-info">
                    <div class="avatar">
                        <div class="image"></div>
                    </div>
                    <div class="name">Carl Johnson</div>
                    <div class="phone">+48-731-235-395</div>
                    <div class="email">e@mail.com</div>
                    <div class="age">32 y.o.</div>
                    <div class="bio">Cum torquis crescere, omnes adelphises desiderium grandis, primus zeluses.Velox, germanus cannabiss nunquam amor de festus, ferox vita.Nobilis glutens ducunt ad detrius.</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>